---
import BaseLayout from "../layouts/BaseLayout.astro";
import HorizontalCard from "../components/HorizontalCard.astro";
import { getCollection } from "astro:content";
import createSlug from "../lib/createSlug"

const posts = (await getCollection("blog")).sort((a, b) => b.data.pubDate.valueOf() - a.data.pubDate.valueOf());

const last_posts = posts.slice(0, 3);
---

<BaseLayout sideBarActiveItemID="home">
  <div class="pb-12 mt-5">
    <div class="text-xl py-1">Hey there 👋</div>
    <div class="text-5xl font-bold">I'm Raghav Kalyan</div>
    <div class="text-3xl py-3 font-bold">Engineer, Chess Player, Teacher</div>
    <div class="py-2">
      <text class="text-lg">
        Hi, I'm Raghav Kalyan. I'm currently a junior attending Tesla Stem High School in Redmond, Washington, with lots of interest in Data Science, Machine Learning, and Game Development. I'm also a self-taught full-stack developer and entrepreneur. I love to build things and learn new technologies. I'm currently working on a few projects and learning new things every day. I'm also a big fan of open-source and love to contribute to open-source projects. I'm always open to new opportunities and collaborations. Feel free to reach out to me if you have any questions or just want to chat.
      </text>
    </div>
    <div class="mt-8">
      <a class="btn" href="https://bsky.app/profile/raghavkalyan.bsky.social" target="_blank"> Let's connect!</a>
      <a href="https://github.com/raghav-kalyana-sundaram" target="_blank" class="btn btn-outline ml-5">
        Github
      </a>
    </div>
  </div>

  <div>
    <div class="text-3xl w-full font-bold mb-2">My last projects {"</>"}</div>
  </div>

  <HorizontalCard
    title="Demo Project 1"
    img="/post_img.webp"
    desc="Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua."
    url="#"
    badge="NEW"
  />
  <div class="divider my-0"></div>
  <HorizontalCard
    title="Demo Project 2"
    img="/post_img.webp"
    desc="Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua."
    url="#"
  />
  <div class="divider my-0"></div>
  <HorizontalCard
    title="Demo Project 3"
    img="/post_img.webp"
    desc="Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua."
    url="#"
    badge="FOSS"
  />

  <div>
    <div class="text-3xl w-full font-bold mb-5 mt-10">Latest from blog</div>
  </div>

  {
    last_posts.map((post) => (
      <>
        <HorizontalCard
          title={post.data.title}
          img={post.data.heroImage}
          desc={post.data.description}
          url={"/blog/" + createSlug(post.data.title, post.slug)}
          target="_self"
          badge={post.data.badge}
        />
        <div class="divider my-0" />
      </>
    ))
  }
</BaseLayout>
