---
const today = new Date();
---

<footer class="footer footer-center block mb-5 pt-10">
  <div class="pb-2">
    &copy; {today.getFullYear()} Raghav Kalyan
  </div>
  <div class="inline opacity-75">
    Developed by <a href="raghavkalyan.com" target="_blank" class="font-bold">Raghav Kalyan</a> using
  </div>
</footer>
<style></style>
